*{
  font-family: Comic Sans MS;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100vh;
}

.output{
  width:320px;
  height:80px;
  font-size: 50px;
  text-align: right;
  outline: none;
  border: none;
  padding-right: 10px;
  background-color: rgb(107, 87, 87);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
}

button{
  width:76px;
  height:75px;
  font-size:35px;
  border-radius: 25px 5px 25px 5px;
  margin: 4px;
  box-shadow: 2px 2px 2px black;
}

.operator{
  background-color: orange;
}

.operator:hover{
  background-color: rgb(158, 107, 14);
}

.fun-key{
  background-color: bisque;
}

.fun-key:hover{
  background-color: beige;
}

.digit{
  background-color: azure;
}
.digit:hover{
  background-color:burlywood;
}

.box{
  padding: 10px;
  background-color: rgb(210, 210, 159);
  border-radius: 15px;
  box-shadow: 3px 3px 8px black,-3px -3px 8px black;
  border: 2px solid;
}