.product-list{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

.card{
  width: 250px;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px black,-5px -5px 10px grey;
}

.card img{
  width: 100%;
  height: 250px;
}