.nav{
    height :auto;
    width:100%;
    background-color: aqua;
    display: flex;
    justify-content: space-around;
}

.nav a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin: 10px;
}

a:hover{
    color: blue;
}