.product-list{
    display: flex;
    flex-wrap: wrap;
    gap:20px;
    margin: 20px;
    justify-content: center;
}
.card{
    width: 250px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px black;
}

.card img{
    width:100%;
    height: 250px;
}