*{
  font-family: Comic Sans MS;
}
.container{
  display:flex;
  align-items: center;
  justify-content: center;
  height:100vh;
  flex-direction: column;
}

.output{
  outline: none;
  border: none;
  padding:2px 10px;
  height:80px;
  width:320px;
  background-color: gray;
  color:white;
  font-size:40px;
  border-radius: 10px;
  margin-bottom: 5px;
  text-align: right;
  box-shadow: 2px 2px 5px black;
}

button{
  width:80px;
  height:75px;
  margin:3px;
  font-size:30px;
  border-radius: 25px 5px 25px 5px;
  cursor:pointer;
  box-shadow: 2px 2px 5px black;
}

.fun-key{
  background-color:bisque;
}

.fun-key:hover{
  background-color:rgba(255, 228, 196, 0.452);
}

.operator{
  background-color: orange;
}

.operator:hover{
  background-color: rgba(255, 166, 0, 0.658);
}

.digit:hover{
  background-color: aliceblue;
}

.box{
  border:2px double black;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px black,-2px -2px 5px black ;
  background-color: beige;
}