*{
  font-family: monospace;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.box{
  padding: 10px;
  background-color: rgb(190, 190, 163);
  border-radius: 15px;
  box-shadow: 3px 3px 8px black,-3px -3px 8px black;
  border: 2px solid;
}

.input{
  width:320px;
  height:50px;
  padding:10px;
  text-align: right;
  font-size: 50px;
  outline: none;
  border: none;
  background-color: rgb(107, 87, 87);
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 2px black;
}

button{
  cursor: pointer;
  font-size: 30px;
  width:75px;
  height: 70px;
  margin: 5px;
  border-radius: 25px 5px 25px 5px;
  box-shadow: 2px 2px 2px black;
}

.digit{
  background-color: blanchedalmond;
}

.digit:hover{
  background-color: rgb(189, 189, 129);
}

.operation{
  background-color: coral;
}

.operation:hover{
  background-color: khaki;
}

.clear{
  background-color: dimgrey;
}

.clear:hover{
  background-color: grey;
}

.result{
  background-color: chocolate;
}

.result:hover{
  background-color: darkgoldenrod;
}